<!DOCTYPE HTML>
<html lang ='en'>
<head>
  <meta charset="utf-8">
<title>attendance</title>
</head>
<body>
  <form method = "POST" action = "/names">
    <input type = "text" name = "name">
    <input type = "submit" value= "Submit">
  </form>

  <ul>
    <% for( let key in names) { %>
      <li><%= key %> <%= names[key] %> </li>
    <% } %>
  </ul>

</body>
</html>
